/* Cor Oficial da Alimentuus */
:root {
    --verde-alimentuus: #006837; 
    --verde-claro: #8CC63F;      
}

/* Cabeçalho */
.navbar {
    background-color: var(--verde-alimentuus) !important;
    border-bottom: 4px solid var(--verde-claro);
}

.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.btn-primary {
    background-color: var(--verde-alimentuus);
    border-color: var(--verde-alimentuus);
}

.btn-primary:hover {
    background-color: #004d29; 
}

/* Cards */
.card-header {
    background-color: var(--verde-alimentuus) !important;
    color: white !important;
    font-weight: bold;
}

/* Tabelas Zebradas */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}